.form {
background: url('../images/bee-on-flower.jpg');
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 30px;
} 

h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 10px;
}
h3{
  font-size: 1.5rem;
}

div {
  margin: -5px;
}

input{
  width: 300px;
  height: 30px;
  font-size: 1rem;
  padding: 5px;
}

textarea{
  width: 600px;
  height: 400px;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid rgb(184, 133, 40);
}

button{
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid rgb(184, 133, 40);

}