@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

.contactMain {
  background: url("../images/bees-flowers-contact-whiter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding-bottom: 20px;
  height: 100%;
}

@media (min-height: 100vh) {
  .contactMain {
    height: 100vh;
  }
}

.border {
  border: 1px red dotted;
}

h1.contactHead {
  font-size: 40px;
  color: #6a1b9a;
  padding-left: 20px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

h1.contact {
  font-size: 30px;
  padding-left: 20px;
  color: black;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}
h2.contact {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
  color: black;
  padding-left: 20px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

h3.contact {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  padding-left: 0px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

p.contact {
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  color: black;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
}

.contact input {
  width: 400px;
  height: 30px;
  font-size: 1rem;
  padding-bottom: 10px;
  color: black;
  font-weight: bolder;
}

.contact textarea {
  height: 350px;
  font-weight: bolder;
}

.contact button {
  font-size: 1rem;
  font-weight: bolder;
  margin: 20px 0px 30px 10px;
  font-weight: bolder;
}

.contact ::-webkit-input-placeholder {
  color: #3b3c36;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
  font-style: italic;
  font-weight: bolder;
}

.contact :-moz-placeholder {
  /* Firefox 18- */
  color: #3b3c36;
  opacity: 1 !important;
  font-style: italic;
  font-weight: bolder;
}

.contact ::-moz-placeholder {
  /* Firefox 19+ */
  color: #3b3c36;
  opacity: 1 !important;
  font-style: italic;
  font-weight: bolder;
}

:-ms-input-placeholder {
  color: #3b3c36;
  font-style: italic;
  font-weight: bolder;
}

.screen {
  background-color: rgba(255, 255, 255, 0.1);
}

input.contactForm {
  padding: 10px;
}
