@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

.gardenMain {
background:  url("../images/watercolor-brown.jpg"); 
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-family: Poppins;
padding: 0px 0px 0px 0px;  
margin: -30px 0px -20px 0px;
height: 90%;
}


.header {
    background: white !important;
    overflow: auto;
  border-bottom: 10px solid purple;
  box-shadow: 0 8px 8px -6px black;


  
  
}

.dirtGarden {
  width: 90% !important;

}




