@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

.gardenMain {
background: url('../images/watercolor-brown.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}



.header {
    background: white !important;
    overflow: auto;
  height: 250px !important;

 width: 100vw;
   
}
