@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

.gardenMain {
background: url('../images/dirt.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 40px 0px 200px 0px;
margin: 0px 20px 0px 20px;
z-index: 2;

}