@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

.gardenMain {
background: url('../images/watercolor-brown.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-family: Poppins;
}



.header {
    background: white !important;
    overflow: auto;
   clear: both !important;
  height: 200px !important;
  width: 100% !important;
  
  
}

.dirtGarden {
  width: 100% !important;
}




