@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

body, html { 
  cursor: url('../images/bee_cursor.png'), default; 
  background: linear-gradient(70deg, #e65100, #f9a825);
}

.homeMain {
  background: url('../images/home-bee4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0px 420px 0px;
  margin: 0px 0px 0px -20px;

  z-index: 2;
 }



 .homeBorder {
  border: 1px #311b92 solid;
  margin: 10px 0px 10px 0px;
}

h1.homeHead{
  font-size: 40px;
  /* color: #311b92; */
  color: #6a1b9a;
  padding-left: 20px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}

h2.home{
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
  color: black;
  padding-left: 20px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}
h2.homeform{
  font-size: 24px;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 10px;
  color: black;
  padding-left: 20px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}
h3.home{
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  padding-left: 10px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

p.home{
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  color: black;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
}
p.trio{
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
}
p.instructions{
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 20px;
  color: black;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  /* text-shadow: 2px 2px 4px #ffffff; */
  font-style: italic;
}
a.home:hover, a.home:active {
  color: #aa00ff;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
a.home:link, a.home:visited {
  color: #aa00ff;
  font-family: 'Raleway', sans-serif;
}

.shadow{
  /* border: 1px solid darkgreen; */
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 6px 5px grey;
}

.filter{
  background: linear-gradient(80deg, #aa00ff, #3B3C36);
  border-radius: 5px;  
}

::-webkit-input-placeholder {
  color: #3B3C36;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: #3B3C36;
  opacity: 1 !important;
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #3B3C36;
  opacity: 1 !important;
  font-style: italic;
}

:-ms-input-placeholder {  
 color: #3B3C36;
 font-style: italic;
}
