@import url("search.css");
@import url("contact.css");
@import url("garden.css");

body, html { 
  cursor: url('../images/bee_cursor.png'), default; 
  height: 100%;
  padding: 10px;
}



h2 {
<<<<<<< HEAD
  color: black;
}

p {
  font-size: 1rem;
=======
  color: red;
}

.Garden {
  text-align: center;
}

.plant-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
>>>>>>> ac5730471bb27fe1d5ea81bc11a14ec34f5a9cea
}