body, html { 
  cursor: url('../images/bee_cursor.png'), default; 
  height: 100%;  
}

h1 {
  color: blue;
  font-style: normal;
}

h2 {
  color: black;
  font-style: normal;
}

.border {
  border: solid blue 1px;
}
p {
  font-size: 1.5rem;
  color: black;
  padding-left: 20px;
}

