@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

body, html { 
  cursor: url('../images/bee_cursor.png'), default; 
  background: linear-gradient(70deg, #e65100, #f9a825);
}

.loginMain {
  background: url('../images/home-bee4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 0px -20px;
  height: 118vh;
 }

 .border {
  border: 1px red dotted;
}

h1.home{
  font-size: 40px;
  color: #6a1b9a;
  padding-left: 10px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  /* letter-spacing: 1.5px; */
}

a.home:hover, a.home:active {
  color: #aa00ff;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
a.home:link, a.home:visited {
  color: #aa00ff;
  font-family: 'Raleway', sans-serif;
}

::-webkit-input-placeholder {
  color: #3B3C36;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: #3B3C36;
  opacity: 1 !important;
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #3B3C36;
  opacity: 1 !important;
  font-style: italic;
}

:-ms-input-placeholder {  
 color: #3B3C36;
 font-style: italic;
}
