@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

.plantMain {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 0px -20px;
 }

 .plantBorder {
  border: 1px #311b92 solid;
  margin: 10px 0px 10px 0px;
  background-color: black;
}

.plantImage {
  padding-top: 20px;
}

 h1.plantHead{
  font-size: 40px;
  padding-left: 5px;
  color: white;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}

h3.plantSubHead{
  font-size: 24px;
  color: black;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}

 p.plant{
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
}

li.imageUrl{
  font-size: 11px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 15px;
}
li.insect{
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  line-height: 15px;
}

p.indent{
  font-size: 20px;
  margin-left: 5px;
  padding-left: 10px;
  color: black;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
}
p.botanical{
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-style: italic;
  color: white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
}

ul.plant{
  font-size: 20px;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
}

li.plant{
  font-size: 20px;
  margin-left: 5px;
  padding-left: 10px;
  color: black;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
}