.footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    }   

.footer h3 {
    color: black;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
