.form h3 {
  color: black;
  font-size: 2em;
  text-align: center;
  padding: 40px 0px 10px 0px;
}

input.form {
  display: inline-block;
}

button.signup {
  padding: 5px;
}

.screen {
  background-color: rgba(255,255,255,0.1);
  }